body{
  background-color: whitesmoke;
}
.head{
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px 10px ;
  border-radius: "60px";
  border: 5px solid blue ;
  font-weight: bold;
  display: flex;
  background-color: aqua;
}
.cards-container {
  display: flex;          
  flex-wrap: wrap;         
  gap: 16px;   
  padding: 20px;     
  justify-content: center;      
}

.card{
  width: 18rem;
  background-color: white;
  border-radius: 8px;
  flex:1 1 250px;
  box-shadow: 0 2px 5px;
  margin: button;
}